*{
    text-align: center;
    font-family: Arial, sans-serif;
}

body.white{
    background-color: #f4f6f6;
    font-family: Arial, sans-serif;
}

body.black{
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

header{
    text-align: center;
    background-color: #E5E7EB;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    color:rgb(68, 68, 68);
    border-radius: 20px;
}

main{
    text-align: center;
    background-color: #E5E7EB;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 15px;
    color:rgb(68, 68, 68);
    border-radius: 20px;
}

input{
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

button{
    text-align: center;
    background-color: #2563EB;
    color: white;
    width: 100px;
    height: 40px;
    margin: 0px auto;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
    transition: transform 0.2s, background-color 0.2s;
}

.calcular:hover{
    background-color: #091746;
    cursor: pointer;
    transform: scale(1.1); 
}

.operador{
font-size: 30px;
}

.claro{
  background-color: rgb(224, 183, 35);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.claro:hover {
  transform: scale(1.1); 
  background-color: #4b4c63;
}

.escuro{
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.escuro:hover {
  transform: scale(1.1); 
  background-color: #4b4c63;
}

.botoes-tema {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    gap: 8px
}
